{{#each feed}}
  <div class="testfeed {{this.id}}">
    <img src="{{this.images.standard_resolution.url}}" class="photo" />
    <!-- <p>Likes: {{this.likes.count}} Comments: {{this.comments.count}} </p> -->
    <button class="buttonleft {{this.id}}">Like</button>
    <button class="buttonright {{this.id}}">Comment</button>
    <input class="comment">
  </div>
{{/each}}
